@model IEnumerable<GeneralStore.MVC.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Here is a list of our Customers
</p>

<p>
    @Html.ActionLink("Create a Customer", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelCustomer => customer.FullName)
            </td>
        </tr>
    }
</table>
